.button{
    -fx-background-color:
            #ff9242,
            linear-gradient(#ff7504 0%, #cc5307 20%, #e04602 100%),
            linear-gradient(#ed310d, #d7261e),
            radial-gradient(center 50% 0%, radius 100%, rgba(255, 162, 87, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( three-pass-box , rgba(2,2,2,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Cambria";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 10px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #f1f1f1;
    -fx-font-weight: bold;
    -fx-pref-width: 82px;
    -fx-pref-height: 10px;
    -fx-alignment: center;
}

.button:hover{
    -fx-background-color: linear-gradient(#ed5641, #c10e01);
    -fx-effect: dropshadow(gaussian, #4f4f4f, 2, 0.5, 1, 1);
    -fx-text-fill: #FFFFFF;
}

#login_btn {
    -fx-background-color: linear-gradient(#ff7504, #ec1d00);
    -fx-background-radius: 30;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-font-size: 16px;
    -fx-font-family: Cambria;
}

.menu-buttons{
    -fx-font-size: 12px;
    -fx-pref-width: 85px;
    -fx-pref-height: 20px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-repeat: no-repeat;
    -fx-text-alignment: right;
    -fx-background-position: 5%;
    -fx-alignment: center-right;
}

.control-buttons{

    -fx-background-color: #FFFFFF;
    -fx-text-fill: #4f4f4f;
    -fx-font-size: 12px;
}

.control-buttons:hover{
    -fx-background-color: linear-gradient(#dddddd, #cccccc);
    -fx-text-fill: #c10e01;
    -fx-effect: dropshadow(gaussian, #4f4f4f, 5, 0.5, 1, 1);
    /*-fx-text-fill: #FFFFFF;*/
}

#add_btn{
    -fx-background-image: url('../images/plus.png');
    -fx-background-size: 16px;
}

#logout_btn{
    -fx-background-image: url('../images/logout1.png');
    -fx-background-size: 20px;
}

.text-area{
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.date-picker{
    -fx-font-size: 12px;
    -fx-font-family: "Comic Sans MS";
    -fx-pref-height: 48px;
    -fx-pref-width: 100px;
}

.hbox{
    -fx-alignment: center;

}
